<h1>Listagem de itens de venda</h1>

<div class="new-item-button-container">
    <a mat-raised-button color="accent" [routerLink]="['/item-venda/novo']">
      <mat-icon> add_box</mat-icon> Cadastrar novo item de venda
    </a>
</div>
<table mat-table [dataSource]="itensVenda" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- venda  Column -->
   <ng-container matColumnDef="venda">
      <th mat-header-cell *matHeaderCellDef> Nº venda </th>
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.venda?.num_venda}} </td>
   </ng-container>
  
    <!-- Produto Name Column -->
    <ng-container matColumnDef="produto">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.produto?.descricao}} </td>
    </ng-container>
  
    <!-- quantidade Weight Column -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef> quantidade </th>
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.quantidade }} </td>
    </ng-container>

    <!-- desconto Column -->
    <ng-container matColumnDef="desconto">
      <th mat-header-cell *matHeaderCellDef> desconto </th>
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.desconto | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <!-- acrescimo Column -->
    <ng-container matColumnDef="acrescimo">
      <th mat-header-cell *matHeaderCellDef> acrécimo </th>
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.acrescimo | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <!-- preco-unitario Column -->
    <ng-container matColumnDef="preco_unitario">
      <th mat-header-cell *matHeaderCellDef>Preco unitário </th>
      <!--
        Formatação de moeda(currency)
        'BRL': Brazzilian real 
        '1.2-2': pelo menos um dígito na pare inteira, no mínimo dois
        digitos na parte fracionado e no máximo dois números na parte frácionada 
        'pt-br' formatação brasileira 
      -->
      <td mat-cell *matCellDef="let itemVenda"> {{itemVenda.produto?.preco_venda | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <!-- preco-total Column -->
    <!--Campo calculado-->
    <ng-container matColumnDef="preco_total">
      <th mat-header-cell *matHeaderCellDef>Preço total </th>
      <td mat-cell *matCellDef="let itemVenda">
         {{(itemVenda.quantidade * itemVenda.produto?.preco_venda) -
           itemVenda.desconto + itemVenda.acrescimo  | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <!-- editar Symbol Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let itemVenda">
        <a mat-raised-button color="accent" title="Editar"
          [routerLink]="['/item-venda', itemVenda._id]">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>
    
    <!-- excluir Symbol Column -->
    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef> Excluir </th>
      <td mat-cell *matCellDef="let itemVenda">
        <button mat-raised-button color= 'warn' title="Exluir"
        (click)= "excluirItem(itemVenda._id)">
        <mat-icon>delete_forever</mat-icon>
        ></button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let itemVenda; columns: displayedColumns;"></tr>
  </table>
  
  
