//Abra o arquivo src/styles.scss e acrescente a seguinte linha no início:
// Importar os  icones  do material design ícones
@import "~material-design-icons/iconfont/material-icons.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#container {
    padding: 20px 38px;
}

.mat-table{
    margin-block-end: 20px;
    width: 100%
    
}

/* Olcutando por padrão os btões das tabelas de dados */
.mat-row{
    .mat-raised-button{
        visibility: hidden;
    }
    &:hover{
        filter: brightness(110%);
        .mat-raised-button {
            visibility: visible;
        }
    }
}

.new-item-button-container{
    margin-bottom: 20px;
    text-align: right;

    mat-raised-button{
        font-size: 120% !important;
    }
}

.std-form {
   
    max-width: 80%;
    margin: 0 auto;
    
    mat-form-field {
       min-width: 150px;
       max-width: 500px;
       width: 100%;
       margin-right: 30px;
    }
    
 }

 .mat-form-field-prefix {
    margin-right: 10px;
   }

.form-buttons {
   
    background: transparent;
    
    mat-toolbar-row {
       display: flex;
       justify-content: space-around;
    }
    
 }