<h1>Listagem de vendas</h1>

<div class="new-item-button-container">
    <a mat-raised-button color="accent" [routerLink]="['/venda/novo']">
      <mat-icon> add_box</mat-icon> Cadastrar nova venda
    </a>
</div>
<table mat-table [dataSource]="vendas" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="num_venda">
      <th mat-header-cell *matHeaderCellDef> Nº venda </th>
      <td mat-cell *matCellDef="let venda"> {{venda.num_venda}} </td>
    </ng-container>
  
    <!-- cliente Name Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let venda"> {{venda.cliente?.nome}} </td>
    </ng-container>
  
    <!-- data-venda Weight Column -->
    <ng-container matColumnDef="data_venda">
      <th mat-header-cell *matHeaderCellDef> Data de venda </th>
      <td mat-cell *matCellDef="let venda"> {{venda.data_venda | date:'dd/MM/yyyy'}} </td>
    </ng-container>

  
    <!-- forma_de_pagamento Column -->
    <ng-container matColumnDef="forma_pagamento">
      <th mat-header-cell *matHeaderCellDef> Forma de Pagamento </th>
      <td mat-cell *matCellDef="let venda"> {{venda.forma_pagamento}} </td>
    </ng-container>

    <!-- data_de_pagamento Column -->
    <ng-container matColumnDef="data_pagamento">
      <th mat-header-cell *matHeaderCellDef> Data  de Pagamento </th>
      <td mat-cell *matCellDef="let venda"> {{venda.data_pagamento | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- editar Symbol Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let venda">
        <a mat-raised-button color="accent" title="Editar"
          [routerLink]="['/venda', venda._id]">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>
    
    <!-- excluir Symbol Column -->
    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef> Excluir </th>
      <td mat-cell *matCellDef="let venda">
        <button mat-raised-button color= 'warn' title="Exluir"
        (click)= "excluirItem(venda._id)">
        <mat-icon>delete_forever</mat-icon>
        ></button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let venda; columns: displayedColumns;"></tr>
  </table>
  
  
